<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Django Rest Framwork</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  </head>
  <body>
    <h1>Welcome to the E-Commerce Platform</h1>

    <section id="products">
      <h2>Products</h2>
      <ul id="product-list"></ul>
    </section>

    <section id="cart">
      <h2>Shopping Cart</h2>
      <ul id="cart-items"></ul>
    </section>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Fetch products and populate the product list
        fetch("http://127.0.0.1:8000/products/")
          .then((response) => response.json())
          .then((products) => {
            const productList = document.getElementById("product-list");
            products.forEach((product) => {
              const listItem = document.createElement("li");
              listItem.textContent = `${product.name} - $${product.price}  -->${product.description} ------ ${product.image_url}`;
              productList.appendChild(listItem);
            });
          });

        // Fetch cart items and populate the cart
        fetch("http://127.0.0.1:8000/cart/")
          .then((response) => response.json())
          .then((cartItems) => {
            const cartItemList = document.getElementById("cart-items");
            cartItems.forEach((cartItem) => {
              const listItem = document.createElement("li");
              listItem.textContent = `${cartItem.quantity}x product${cartItem.product}`;
              cartItemList.appendChild(listItem);
            });
          });
      });
    </script>
  </body>
</html>
